<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
</head>

<body>
	<form>
		<div class="form-group row">
			<label for="disciplineName" class="col-4 col-form-label">Nome</label>
			<div class="col-8">
				<input id="disciplineName" name="disciplineName" type="text" class="form-control" required="required">
			</div>
		</div>
		<div class="form-group row">
			<label for="disciplineDescription" class="col-4 col-form-label">Descrição</label>
			<div class="col-8">
				<input id="disciplineDescription" name="disciplineDescription" type="text" class="form-control"
					required="required">
			</div>
		</div>
		<div class="form-group row">
			<div class="offset-4 col-8">
				<button name="submit" type="submit" class="btn btn-primary">Submit</button>
			</div>
		</div>
	</form>
</body>

</html>